body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: white;
}

h1 {
    color: #FFD700;
    margin-bottom: 20px;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 38px);
    grid-template-rows: repeat(20, 38px);
    gap: 1px;
    background-color: #090d0a;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #0400ff;
}

.cell {
    width: 38px;
    height: 38px;
    background-color: #170e3f;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.current-block {
    background-color: #00ff00;
    box-shadow: 0 0 5px #00ff00;
}

.lockin-block {
    background-color: #ff0080;
     box-shadow: 0 0 5px #ff0080;
}

.score-container {
    width: 100%;
    box-sizing: border-box;
    color: #FFD700;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #FFD700;
    box-shadow: 0 0 10px #FFD700;
}

.score {
    font-size: 36px;
    font-weight: bold;
    color: #00FF00;
    text-shadow: 0 0 5px #00FF00;
}

.score-next-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.next-block-container {
    color: #FFD700;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #FFD700;
    box-shadow: 0 0 10px #FFD700;
}

.next-block-board {
    display: grid;
    grid-template-columns: repeat(5, 38px);
    grid-template-rows: repeat(5, 38px);
    gap: 1px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.next-block-board .cell.preview-empty {
    background-color: #170e3f;
    box-shadow: none;
}

.store-block-container {
    align-self: center;
    margin-right: 40px;
    color: #FFD700;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #FFD700;
    box-shadow: 0 0 10px #FFD700;
}

.store-block-board {
    display: grid;
    grid-template-columns: repeat(5, 38px);
    grid-template-rows: repeat(5, 38px);
    gap: 1px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.store-block-board .cell.preview-empty {
    background-color: #170e3f;
    box-shadow: none;
}